@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../../dist/fonts/Montserrat-Regular.ttf"), url(../../dist/fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../../dist/fonts/Roboto-Regular.ttf), url(../../dist/fonts/Roboto-Light.ttf), url(../../dist/fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: 'fontello';
  src: url("../../dist/fonts/fontello.eot?50573067");
  src: url("../../dist/fonts/fontello.eot?50573067#iefix") format("embedded-opentype"), url("../../dist/fonts/fontello.woff?50573067") format("woff"), url("../../dist/fonts/fontello.ttf?50573067") format("truetype"), url("../../dist/fonts/fontello.svg?50573067#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.header {
  width: 100%;
  height: 700px;
  padding: 48px;
  padding-top: 38px;
  background: url(../../src/img/header-background.png) 50% 50% no-repeat;
  background-size: cover;
  box-sizing: border-box; }
  .header-wrapper {
    max-width: 940px;
    margin: 0 auto;
    text-align: center; }
  .header-authorization {
    float: right; }
  .header-logo {
    margin-top: 9px;
    float: left;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 125%;
    font-weight: 700;
    letter-spacing: 0.035em; }

.header__authorization-button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 87.5%;
  font-weight: 700; }

.authorization__button-sign {
  padding: 8px 17px;
  margin-left: 15px;
  border: 2px solid #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px; }

.header__promo-title {
  margin: 141px 0px 28px 0;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 325%;
  font-weight: 700;
  text-transform: uppercase; }

.header__promo-text {
  margin-bottom: 35px;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 150%;
  font-weight: 300; }

.header__promo-button {
  display: inline-block;
  padding: 11px 22px;
  text-decoration: none;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 87.5%;
  font-weight: 700;
  background-color: #ff4e50;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  letter-spacing: 0.02em; }

.about {
  max-width: 940px;
  margin: 0 auto; }

.about__title {
  margin-top: 10%;
  margin-bottom: 3.7%;
  text-align: center;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 140%;
  font-weight: 700;
  letter-spacing: 0.03em; }

.jcarousel {
  width: 300px;
  height: 400px;
  margin-right: 20px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }

.jcarousel-last {
  margin-right: 0; }

.wraper-jcarousel {
  position: relative;
  width: 20000em; }

.jcarousel-step {
  float: left;
  width: 300px;
  height: 400px;
  margin-right: 5px; }

.wraper-jcarousel__step {
  display: table-cell;
  padding: 0 18px;
  vertical-align: bottom;
  height: 400px;
  box-sizing: border-box; }

.jcarousel-arrow {
  position: absolute;
  top: 152px;
  width: 30px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  background: url("../../src/img/arrow-sprite.png"); }

.jcarousel-prev {
  left: 21px; }

.jcarousel-next {
  right: 21px;
  background-position: 0px 56px; }

.jcarousel-step1 {
  background: url(../../src/img/step1.jpg) center center no-repeat;
  background-size: cover; }

.jcarousel-step2 {
  background: url(../../src/img/step2.jpg) center center no-repeat;
  background-size: cover; }

.jcarousel-step3 {
  background: url(../../src/img/step3.jpg) center center no-repeat;
  background-size: cover; }

.jcarousel__step-number {
  display: inline-block;
  padding: 5px 12px;
  background-color: #ff4e50;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  letter-spacing: 1.7px;
  text-align: center; }

.jcarousel__step-title {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin: 16px 0 -2px;
  letter-spacing: 0.04em; }

.jcarousel__step-content {
  color: #ccc;
  font-family: Roboto, sans-serif;
  font-size: 87.5%;
  margin: 15px 0px;
  line-height: 17px;
  letter-spacing: -0.01em; }

.partners {
  max-width: 940px;
  padding: 5.5% 0;
  margin: 0 auto;
  text-align: center; }

.partners__title {
  margin-bottom: 3.3%;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 140%;
  font-weight: 700;
  letter-spacing: 0.035em; }

.partners-item {
  margin-right: 20px;
  float: left;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 220px; }

.partners__item-last {
  margin-right: 0; }

.partners__item-img {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: url("../../src/img/partners_sprite.png"); }

.partners__item-icon {
  position: absolute;
  top: 85px;
  left: 85px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: solid 4px #ffffff;
  padding: 7px 7px 7px 8px;
  box-sizing: border-box; }

.partners__icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../src/img/sprite-icon.png); }

.partners__item-icon1 {
  background: #ff4e50; }

.partners__item-icon2 {
  background: #1cd7ad; }

.partners__item-icon3 {
  background: #ffa507; }

.partners__item-icon4 {
  background: #4e73db; }

.partners__item-img2 {
  background-position: 0px -132px; }

.partners__item-img3 {
  background-position: 0px -265px; }

.partners__item-img4 {
  background-position: 0px -399px; }

.icon2 {
  background-position: 0px -26px; }

.icon3 {
  background-position: 0px -53px; }

.icon4 {
  background-position: 0px -79px; }

.partners__name {
  margin: 19px 0 0 0;
  letter-spacing: 0.02em;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 87.5%;
  font-weight: 700; }

.partners__content {
  margin: 15px 0 0 0;
  color: #666;
  font-family: Roboto, sans-serif;
  font-size: 87.5%;
  font-weight: 300; }

.partners__button {
  margin-top: 4%;
  display: inline-block;
  padding: 11px 28px;
  text-decoration: none;
  background-color: white;
  border: 2px solid #ff4e50;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: #ff4e50;
  font-family: Montserrat, sans-serif;
  font-size: 87.5%;
  font-weight: bold;
  letter-spacing: 0.02em; }

.ideas {
  max-width: 940px;
  margin: 0 auto; }

.ideas-title,
.ideas__discover-title {
  text-align: center;
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 140%;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 34px; }

.ideas__discover-title {
  margin-top: 76px;
  font-weight: bold; }

.ideas-discover {
  padding-bottom: 99px;
  text-align: center; }

.ideas__discover-search {
  margin: 0 auto; }

.ideas__discover-accost {
  margin-bottom: 37px;
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 112.5%;
  font-weight: 300; }

.ideas__discover-input {
  color: #999;
  font-family: Roboto, sans-serif;
  font-size: 87.5%;
  font-weight: 300;
  box-sizing: border-box;
  min-width: 240px;
  height: 40px;
  margin-right: 7px;
  padding: 10px 14px;
  outline-style: none;
  background-color: white;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 0 #eee;
  letter-spacing: -0.01em; }

.ideas__discover-button {
  width: 160px;
  height: 40px;
  background-color: #ff4e50;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  outline-style: none;
  text-decoration: none;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 87.5%;
  font-weight: 700;
  letter-spacing: 0.02em;
  cursor: pointer; }

.ideas__item {
  width: 300px;
  height: 310px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.ideas__item-double {
  width: 620px; }

.ideas__item-link {
  display: block;
  width: inherit;
  height: inherit;
  text-decoration: none;
  font-family: Montserrat, sans-serif; }

.ideas__item-word {
  font-size: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  width: inherit;
  display: block;
  height: inherit;
  display: table-cell;
  text-transform: capitalize;
  font-weight: bold; }

.footer {
  border-top: 4px solid #ff4e50; }

.footer__wrapper {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 25px; }

.footer__logo {
  margin-top: 13px;
  float: left;
  color: #ff4e50;
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 0.038em; }

.footer__item {
  float: left;
  margin-left: 97px; }

.footer__title {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 87.5%;
  font-weight: bold; }

.footer-list {
  padding: 0;
  margin-top: 10px; }

.footer__list-item {
  list-style: none; }

.footer__list-link {
  text-decoration: none;
  color: #666;
  font-family: Roboto, sans-serif;
  font-size: 87.5%;
  font-weight: 300;
  line-height: 24px; }

.footer__list-link:hover {
  text-decoration: underline; }

.footer__author {
  float: right;
  text-align: right; }

.footer__author-by {
  display: block;
  margin-right: 3px;
  margin-top: 12px;
  letter-spacing: 0.04em;
  color: #ccc;
  font-family: Montserrat, sans-serif;
  font-size: 62.5%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 9px; }

/*---- media ----*/
@media all and (max-width: 939px) {
  .header-wrapper,
  .about,
  .partners,
  .ideas,
  .footer__wrapper {
    max-width: 768px; }
  .header {
    padding: 48px 0;
    padding-top: 38px; }
  .header-wrapper {
    padding: 0 49px 0 50px; }
  .header__promo-title {
    margin: 145px 0px 28px 8px; }
  .header__promo-text {
    margin-bottom: 34px;
    margin-right: 5px; }
  .about {
    padding: 0 10px; }
  .about__title {
    margin-top: 12.5%;
    margin-bottom: 4.6%;
    margin-left: 2%; }
  .jcarousel-step,
  .jcarousel {
    width: 236px; }
  .jcarousel-step2 .wraper-jcarousel__step {
    padding-top: 259px; }
  .jcarousel-step2 .jcarousel__step-title {
    letter-spacing: 0.03em; }
  .jcarousel-arrow {
    top: 39px; }
  .wrapper-partners {
    max-width: 492px;
    margin: 0 auto; }
  .partners__title {
    margin-top: 7.2%;
    margin-left: 4px;
    margin-bottom: 4.3%; }
  .ideas {
    padding: 0 1.3%; }
  .ideas__item {
    width: 236px; }
  .ideas__item-double {
    width: 492px; }
  .partners-item {
    margin-left: 8px;
    margin-bottom: 55px; }
  .partners-item2,
  .partners__item-last {
    margin-right: 0;
    margin-left: 17px; }
  .partners__item-last,
  .partners-item3 {
    margin-bottom: 7px; }
  .ideas-title {
    margin-top: 53px; }
  .ideas__discover-title {
    margin-bottom: 32px; }
  .footer {
    padding: 0 40px; }
  .footer__item {
    margin-left: 85px;
    margin-right: 21px; } }

@media all and (max-width: 767px) {
  .header {
    height: 540px;
    padding-top: 20px; }
  .header-wrapper {
    padding: 0; }
  .header__promo-title {
    font-size: 187.5%;
    margin-top: 0;
    margin-left: 28px;
    margin-bottom: 0; }
  .header-authorization,
  .header-logo {
    float: none; }
  .header-authorization {
    margin-left: 12px; }
  .header-logo {
    margin-top: 117px;
    margin-bottom: 28px;
    margin-left: 16px; }
  .header__promo-text {
    font-size: 112.5%;
    margin-top: 14px;
    margin-left: 42px;
    margin-right: 24px;
    margin-bottom: 15px; }
  .about {
    padding: 0; }
  .about__title {
    letter-spacing: 0;
    margin-top: 36px; }
  .about-wrapper,
  .ideas-wrapper {
    width: 300px;
    margin: 0 auto; }
  .jcarousel-step,
  .jcarousel {
    width: 300px;
    height: 240px;
    margin-right: 0; }
  .jcarousel {
    margin-bottom: 10px; }
  .jcarousel-step2 .wraper-jcarousel__step {
    padding-top: 0px; }
  .partners__title {
    margin-top: 8px;
    margin-left: 15px; }
  .partners-item {
    padding-left: 14px; }
  .wraper-jcarousel__step {
    height: 240px; }
  .ideas {
    padding: 0; }
  .ideas__item,
  .ideas__item-double {
    width: 300px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 10px; }
  .ideas__discover-input,
  .ideas__discover-button {
    width: 280px; }
  .ideas__discover-input {
    margin: 0 auto;
    margin-bottom: 10px; }
  .ideas-title {
    margin-top: 18px;
    margin-left: 16px;
    margin-bottom: 14px; }
  .ideas__discover-title {
    margin-top: 26px;
    margin-left: 14px;
    margin-bottom: 0; }
  .ideas__discover-accost {
    margin-top: 12px;
    margin-left: 17px;
    margin-bottom: 15px; }
  .ideas__discover-button {
    margin-left: 10px; }
  .ideas-discover {
    padding-bottom: 40px; }
  .jcarousel-arrow {
    opacity: 0; }
  .wrapper-partners {
    max-width: 320px; }
  .partners-item {
    margin: 0 auto;
    float: none;
    margin-bottom: 30px; }
  .partners__button {
    padding: 11px 72.5px; }
  .footer {
    padding: 0;
    text-align: center; }
  .footer__wrapper {
    margin-top: 17px;
    margin-left: 12px; }
  .footer__title {
    margin-bottom: 0; }
  .footer-list {
    margin-top: 0;
    margin-bottom: 0; }
  .footer__logo,
  .footer__item {
    float: none;
    margin: 0; }
  .footer__list-item {
    display: inline-block;
    margin: 0 5px; }
  .footer__author {
    float: none;
    display: inline-block;
    max-width: 110px;
    text-align: center; }
  .partners__item-last {
    margin-bottom: 6px; } }
